@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    padding: 0%;
    border: 0;
    margin: 0;
 }

header{
    background-color: rgb(0, 0, 214);
    height: 90px;
    text-align: center;
    padding: 42px solid white;
    border-bottom: 8px solid rgb(122, 31, 232);
    color:rgb(0, 0, 214);
    
}
    
body{
    background-color: black;
    color:aliceblue;
    font-size: 50px;
}

header div{
    text-align:center;
}

header div a {
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin: 32px;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
    transition: color 700ms;
}

header div a:hover {
    color: rgb(31, 141, 232);
    transition: color 600ms;
}

#box {
    text-align: center;
    padding: 32px;
}

#box img {
    border-radius: 50%;
    border: 5px solid purple;
    margin-bottom: 32px;
}

#box h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}
#box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}
#box p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

